//project kedua

Project Kedua - \[Calvin Sadrax I\]/Library/* 

Project Kedua - \[Calvin Sadrax I\]/Logs/* 

Project Kedua - \[Calvin Sadrax I\]/Temp/* 
 
Project Kedua - \[Calvin Sadrax I\]/.vsconfig 

Project Kedua - \[Calvin Sadrax I\]/*.sln 



//Project kesatu

Project Pertama - \[Calvin Sadrax I\]/Library/* 

Project Pertama - \[Calvin Sadrax I\]/Logs/* 

Project Pertama - \[Calvin Sadrax I\]/Temp/* 
 

Project Pertama - \[Calvin Sadrax I\]/.vsconfig 

Project Pertama - \[Calvin Sadrax I\]/*.sln 

